In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes=True)

In [2]:
df = pd.read_csv('Reviews.csv')
df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [3]:
df.describe()

,Id,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time
count,568454.000000,568454.000000,568454.00000,568454.000000,5.684540e+05
mean,284227.500000,1.743817,2.22881,4.183199,1.296257e+09
std,164098.679298,7.636513,8.28974,1.310436,4.804331e+07
min,1.000000,0.000000,0.00000,1.000000,9.393408e+08
25%,142114.250000,0.000000,0.00000,4.000000,1.271290e+09
50%,284227.500000,0.000000,1.00000,5.000000,1.311120e+09
75%,426340.750000,2.000000,2.00000,5.000000,1.332720e+09
max,568454.000000,866.000000,923.00000,5.000000,1.351210e+09

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568454 entries, 0 to 568453
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      568454 non-null  int64
 1   ProductId               568454 non-null  object
 2   UserId                  568454 non-null  object
 3   ProfileName             568438 non-null  object
 4   HelpfulnessNumerator    568454 non-null  int64
 5   HelpfulnessDenominator  568454 non-null  int64
 6   Score                   568454 non-null  int64
 7   Time                    568454 non-null  int64
 8   Summary                 568427 non-null  object
 9   Text                    568454 non-null  object
dtypes: int64(5), object(5)
memory usage: 43.4+ MB

In [5]:
df.shape

(568454, 10)

In [6]:
df.count() #To see if there are any columns have missing values

Id                        568454
ProductId                 568454
UserId                    568454
ProfileName               568438
HelpfulnessNumerator      568454
HelpfulnessDenominator    568454
Score                     568454
Time                      568454
Summary                   568427
Text                      568454
dtype: int64

In [7]:
df.isnull().sum()

Id                         0
ProductId                  0
UserId                     0
ProfileName               16
HelpfulnessNumerator       0
HelpfulnessDenominator     0
Score                      0
Time                       0
Summary                   27
Text                       0
dtype: int64

## We see that Summary and PofileName have some null or missing values. Since summary might tell us about the overall important aspect about the review it plays a crucial role in sentiment analysis. This can not be replaced by any other values hence better to concatenate them with the Text attribute instead of dropping them on the whole.

In [8]:
df[df["Summary"].isnull()] #Prints all those rows whose summary is NaN

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
33958,33959,B00412W76S,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
40548,40549,B00020HHRW,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
101106,101107,B0014B0HWK,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
102979,102980,B000FVDWU4,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
117515,117516,B0016B7Z32,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
155712,155713,B0009VO58S,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
178290,178291,B00073IVAQ,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
198474,198475,B000FVBYCW,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
212691,212692,B00020HHAO,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
237565,237566,B000ELGPAO,A15AMT9T9A1309,Film-Friend,1,1,3,1328572800,NaN,This is a cool system only problem is that the...
293906,293907,B00020HHM2,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
299495,299496,B00142BX68,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
300961,300962,B000VJYTZM,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
333556,333557,B00188S3PM,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
352043,352044,B000M0F58U,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
357215,357216,B0006I5M2M,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
357814,357815,B001GCTTRQ,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
360782,360783,B00020HHHC,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
379473,379474,B007RLRCLK,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
380558,380559,B00014DXCC,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
381313,381314,B00020HHK4,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
386283,386284,B00073JVFU,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
392529,392530,B001H9XOEW,A22R17YPXEULEZ,Liz Wong,0,0,3,1334534400,NaN,I like the product and tried it before I pucha...
484367,484368,B00020HHGS,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
486640,486641,B0014AUJII,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
503260,503261,B00020HHE0,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...
530716,530717,B0014ATRV8,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,NaN,I only used two maybe three tea bags and got p...

In [9]:
# df["Combined"] = df[~df["Summary"].isnull()]["Summary"] + df["Text"]

In [10]:
df_treated = df.copy()
df_treated

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...
...,...,...,...,...,...,...,...,...,...,...
568449,568450,B001EO7N10,A28KG5XORO54AY,Lettie D. Carter,0,0,5,1299628800,Will not do without,Great for sesame chicken..this is a good if no...
568450,568451,B003S1WTCU,A3I8AFVPEE8KI5,R. Sawyer,0,0,2,1331251200,disappointed,I'm disappointed with the flavor. The chocolat...
568451,568452,B004I613EE,A121AA1GQV751Z,"pksd ""pk_007""",2,2,5,1329782400,Perfect for our maltipoo,"These stars are small, so you can give 10-15 o..."
568452,568453,B004I613EE,A3IBEVCTXKNOH,"Kathy A. Welch ""katwel""",1,1,5,1331596800,Favorite Training and reward treat,These are the BEST treats for training and rew...
568453,568454,B001LR2CU2,A3LGQPJCZVL9UC,srfell17,0,0,5,1338422400,Great Honey,"I am very satisfied ,product is as advertised,..."

In [11]:
df_treated.Summary = df_treated.Summary.fillna('')
df_treated["ReviewText"] = df_treated["Summary"] + " & " + df_treated["Text"]
#everything before the first occurence of an "&" is part of the
#summary and the later is the actual reveiw all combined into one column called ReviewText

Empty DataFrame
Columns: [Id, ProductId, UserId, ProfileName, HelpfulnessNumerator, HelpfulnessDenominator, Score, Time, Summary, Text, ReviewText]
Index: []

In [12]:
df_treated[df_treated["Summary"]==""]

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,ReviewText
33958,33959,B00412W76S,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
40548,40549,B00020HHRW,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
101106,101107,B0014B0HWK,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
102979,102980,B000FVDWU4,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
117515,117516,B0016B7Z32,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
155712,155713,B0009VO58S,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
178290,178291,B00073IVAQ,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
198474,198475,B000FVBYCW,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
212691,212692,B00020HHAO,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
237565,237566,B000ELGPAO,A15AMT9T9A1309,Film-Friend,1,1,3,1328572800,,This is a cool system only problem is that the...,& This is a cool system only problem is that ...
293906,293907,B00020HHM2,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
299495,299496,B00142BX68,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
300961,300962,B000VJYTZM,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
333556,333557,B00188S3PM,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
352043,352044,B000M0F58U,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
357215,357216,B0006I5M2M,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
357814,357815,B001GCTTRQ,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
360782,360783,B00020HHHC,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
379473,379474,B007RLRCLK,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
380558,380559,B00014DXCC,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
381313,381314,B00020HHK4,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
386283,386284,B00073JVFU,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
392529,392530,B001H9XOEW,A22R17YPXEULEZ,Liz Wong,0,0,3,1334534400,,I like the product and tried it before I pucha...,& I like the product and tried it before I pu...
484367,484368,B00020HHGS,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
486640,486641,B0014AUJII,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
503260,503261,B00020HHE0,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...
530716,530717,B0014ATRV8,A3TJPSWY2HE4BS,"S. Layton ""homeschool blogger""",1,24,2,1173312000,,I only used two maybe three tea bags and got p...,& I only used two maybe three tea bags and go...

## We don't need to drop the rows where ProfileNames are missing as it is going to add barely any effect to our prediction model as it does not provide any logical inference about the sentiment of the review. Hence we shall preserve those.

In [13]:
df[df['ProfileName'].isnull()] #Prints all the rows where ProfileName is null(NaN)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
25509,25510,B000LKZB4Y,A36BVYD0NT7Z0F,NaN,0,0,5,1314576000,These are the best mints and no aspartame or BHT,I was so shocked to find out that almost all g...
38874,38875,B000AYDGZ2,A36BVYD0NT7Z0F,NaN,2,3,1,1278374400,doesn't anyone care that they are putting BHT ...,I called Kellogg's to see why Special K red be...
49800,49801,B000CRHQN0,A2LYFY32LXQDON,NaN,0,0,2,1282608000,They were melted and the chocolate had turned ...,We love these bars but i won't order them ship...
67077,67078,B0006348H2,A2P0P67Y55SNOX,NaN,1,1,5,1314662400,Wheatgrass,Kitty seems to like this sprinkled on her food...
106550,106551,B001EQ5DG0,A1P500QXEG3IUZ,NaN,0,0,5,1326758400,Finally!,"You cannot find this in the stores anymore, it..."
137613,137614,B000CQE3HS,AGT3BYX5P9SLH,NaN,0,0,5,1324684800,awesome,i love them they are amazing I would eat them ...
163191,163192,B000CQID1A,AGT3BYX5P9SLH,NaN,0,0,5,1324684800,awesome,i love them they are amazing I would eat them ...
172462,172463,B001FA1L9I,AC9U70TRGPDGJ,NaN,0,0,5,1289520000,very good,came in proper packaging. Have loved British ...
297275,297276,B007OXJM6E,A29D7XVSBCLFLD,NaN,0,0,1,1325203200,Burnt,The last SEVERAL time we bought this it tasted...
306751,306752,B000RI1W8E,AGT3BYX5P9SLH,NaN,0,0,5,1324684800,awesome,i love them they are amazing I would eat them ...
431598,431599,B000W5P0KI,A36BVYD0NT7Z0F,NaN,13,21,1,1298937600,WARNING: Please read before feeding,WARNING: I use to feed my dogs Orijen 75% pro...
440825,440826,B008LFAS08,AC0E8TXIYABB5,NaN,1,1,5,1350432000,The perfect grinder for dog and cat food!,this grinder is super easy to assemble and ope...
490412,490413,B000CQE3IC,AGT3BYX5P9SLH,NaN,0,0,5,1324684800,awesome,i love them they are amazing I would eat them ...
491728,491729,B004772PJQ,A29D7XVSBCLFLD,NaN,0,0,1,1325203200,Burnt,The last SEVERAL time we bought this it tasted...
515436,515437,B004S04X4W,A2H7605OSHVIQ5,NaN,0,0,5,1348704000,"Hormel Roast Beef Hash, 15-Ounce",I've been buying this in the grocery stores fr...
560446,560447,B000CQID1K,AGT3BYX5P9SLH,NaN,0,0,5,1324684800,awesome,i love them they are amazing I would eat them ...