In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix
sns.set(color_codes=True)

In [2]:
df = pd.read_csv('Reviews.csv')
df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [3]:
df.describe()

,Id,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time
count,568454.000000,568454.000000,568454.00000,568454.000000,5.684540e+05
mean,284227.500000,1.743817,2.22881,4.183199,1.296257e+09
std,164098.679298,7.636513,8.28974,1.310436,4.804331e+07
min,1.000000,0.000000,0.00000,1.000000,9.393408e+08
25%,142114.250000,0.000000,0.00000,4.000000,1.271290e+09
50%,284227.500000,0.000000,1.00000,5.000000,1.311120e+09
75%,426340.750000,2.000000,2.00000,5.000000,1.332720e+09
max,568454.000000,866.000000,923.00000,5.000000,1.351210e+09

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568454 entries, 0 to 568453
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      568454 non-null  int64
 1   ProductId               568454 non-null  object
 2   UserId                  568454 non-null  object
 3   ProfileName             568438 non-null  object
 4   HelpfulnessNumerator    568454 non-null  int64
 5   HelpfulnessDenominator  568454 non-null  int64
 6   Score                   568454 non-null  int64
 7   Time                    568454 non-null  int64
 8   Summary                 568427 non-null  object
 9   Text                    568454 non-null  object
dtypes: int64(5), object(5)
memory usage: 43.4+ MB

In [5]:
df.shape

(568454, 10)

In [6]:
df.count() #To see if there are any columns have missing values

Id                        568454
ProductId                 568454
UserId                    568454
ProfileName               568438
HelpfulnessNumerator      568454
HelpfulnessDenominator    568454
Score                     568454
Time                      568454
Summary                   568427
Text                      568454
dtype: int64

In [7]:
df.isnull().sum()

Id                         0
ProductId                  0
UserId                     0
ProfileName               16
HelpfulnessNumerator       0
HelpfulnessDenominator     0
Score                      0
Time                       0
Summary                   27
Text                       0
dtype: int64

In [8]:
len(df) - len(df.dropna())

43

In [9]:
df = df.dropna()

In [ ]:
for i in range(0,len(df)-1):
    if type(df.iloc[i]['Text']) != str:
        df.iloc[i]['Text'] = str(df.iloc[i]['Text'])

In [ ]:
for i in range(0,len(df)-1):
    if type(df.iloc[i]['Summary']) != str:
        df.iloc[i]['Summary'] = str(df.iloc[i]['Summary'])

In [ ]:
def sentiment(n):
    if n>=4:
        return 1
    elif n==3:
        return 0
    else:
        return -1
df['Sentiment'] = df['Score'].apply(sentiment)
df.head()

In [ ]:
def combined_features(row):
    return row['Summary'] + ' '+ row['Text']
df['All_features'] = df.apply(combined_features, axis=1)
df.head()

In [ ]:
X = df['All_features']
y = df['Sentiment']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
ctmTr = cv.fit_transform(X_train)
X_test_dtm = cv.transform(X_test)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtree_model = DecisionTreeClassifier(max_depth = 2).fit(ctmTr, y_train)
dtree_predictions = dtree_model.predict(X_test_dtm)

cm = confusion_matrix(y_test, dtree_predictions)
accuracy_score(dtree_predictions,y_test)

In [ ]:
from sklearn.svm import SVC
svm_model_linear = SVC(kernel = 'linear', C = 1).fit(ctmTr, y_train)
svm_predictions = svm_model_linear.predict(X_test_dtm)
  
accuracy = svm_model_linear.score(X_test_dtm, y_test)
print(accuracy)

cm = confusion_matrix(y_test, svm_predictions)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 7).fit(ctmTr, y_train)
  
# accuracy on X_test
accuracy = knn.score(X_test_dtm, y_test)
print (accuracy)
  
# creating a confusion matrix
knn_predictions = knn.predict(X_test_dtm) 
cm = confusion_matrix(y_test, knn_predictions)

In [ ]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB().fit(ctmTr, y_train)
gnb_predictions = gnb.predict(X_test_dtm)
  
# accuracy on X_test
accuracy = gnb.score(X_test_dtm, y_test)
print (accuracy)
  
# creating a confusion matrix
cm = confusion_matrix(y_test, gnb_predictions)